<mat-progress-bar class="mb-1" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div *ngFor="let performance of paginatedPerformances" class="performance-wrapper">
  <div class="performance-card">
    <img
      [src]="'data:image/jpeg;base64,' + performance.mainImage"
      alt="{{ performance.title }}"
      class="performance-image"
    />
    <div class="performance-info">
      <span class="performance-title">{{ performance.title }}</span>
      <span class="text-muted">
        {{ getGenreNameById(performance.genre) }} &mdash; Waldemar Zawodziński
      </span>
    </div>
  </div>
</div>

<mat-paginator
  [length]="performances.length"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="[2, 5, 10]"
  (page)="onPageChange($event)">
</mat-paginator>
