.highlighted{
  background-color: #0000FFFF;
}
mat-sidenav-content {
  max-width: 100%;
  overflow-x: hidden;
}

table {
  width: 100%;
  max-width: 100%;
}

mat-paginator {
  width: 100%;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 100%;
}
