.highlighted{
  background-color: rgba(74, 220, 246, 0.95);
}
mat-sidenav-content {
  max-width: 100%;
  overflow-x: hidden;
}

table {
  width: 100%;
  max-width: 100%;
}

mat-paginator {
  width: 100%;
}

.container {
  max-width: 100%;
  overflow-x: hidden;
}

.row {
  width: 100%;
  max-width: 100%;
}
