<!-- DESKTOP SIDEBAR -->
<aside class="sidebar desktop-only">
  <ul>
    <li *ngFor="let item of menu"
        [routerLink]="item.link"
        routerLinkActive="active">
      {{ item.label }}
    </li>
  </ul>
</aside>

<!-- MOBILE ACCORDION -->
<div class="mobile-menu mobile-only">
  <button class="accordion-btn" (click)="menuOpen = !menuOpen">
    Rozwiń sekcję "O nas"
  </button>

  <div class="accordion-panel" *ngIf="menuOpen">
    <ul>
      <a>
        <li *ngFor="let item of menu" [routerLink]="item.link" (click)="menuOpen = false">
          {{ item.label }}
        </li>
      </a>
    </ul>
  </div>
</div>
<section class="content-area">
  <router-outlet></router-outlet>
</section>
