.container {
  display: flex;
  padding: 40px 0;
  width: 90%;
  margin: 0 auto;
}

.sidebar {
  width: 220px;
  margin-right: 40px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 12px 0;
  font-weight: 500;
}

.content {
  flex: 1;
}

.content h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #000;
}
