<div *ngIf="isLoading" class="loading-screen">
  <div class="loading">
    Ładowanie...
  </div>
</div>
<section class="performancePage" *ngIf="performance">
  <div class="performancePage__inner">

    <nav class="breadcrumb">
      <a routerLink="../..">REPERTUAR</a>
      <span>{{ performance.title }}</span>
    </nav>

    <!-- HERO -->
    <section class="hero">
      <img
        class="hero__image"
        [src]="'data:image/jpeg;base64,' + performance.mainImage"
        [alt]="performance.title"
      />

      <div class="hero__overlay">
        <h1 class="hero__title">{{ performance.title }}</h1>

        <div class="hero__tags">
          <span *ngIf="performance.genreNavigation?.name">
            {{ performance.genreNavigation?.name }}
          </span>

          <span *ngIf="performance.breaksCount">
            {{ actsLabel }}
          </span>

          <span *ngIf="performance.duration">
            {{ minutesLabel }}
          </span>

          <span *ngIf="directorLabel !== ''">
            {{ directorLabel }}
          </span>

        </div>
      </div>
    </section>

    <!-- NAJBLIŻSZE TERMINY -->
    <section class="datesSection" *ngIf="events?.length">
      <h2 class="sectionTitle">_NAJBLIŻSZE TERMINY</h2>

      <div class="datesList">
        <article class="dateRow" *ngFor="let e of events">
          <div class="dateRow__date">
            <div class="dateRow__day">{{ e.startAt | date:'d' }}</div>
            <div class="dateRow__month">{{ e.startAt | date:'MMMM':'':'pl' }}</div>
            <div class="dateRow__weekday">{{ e.startAt | date:'EEEE':'':'pl' }}</div>
          </div>

          <div class="dateRow__time">
            <div>{{ e.startAt | date:'HH:mm' }}</div>
            <span>{{ performance.placeNavigation?.name }}</span>
          </div>

          <div class="dateRow__actions">
            <a
              class="smallBtn"
              *ngIf="e.buyLink"
              [href]="e.buyLink"
              target="_blank"
              rel="noreferrer"
            >
              KUP BILET
            </a>

            <a class="smallLink" [routerLink]="['/repertuar', performance.id]">
              ZAREZERWUJ MIEJSCE
            </a>
          </div>
        </article>
      </div>
    </section>

    <!-- OPIS + REALIZATORZY -->
    <section class="contentGrid">
      <div class="descriptionBlock">
        <h2 class="sectionTitle">_OPIS</h2>
        <div class="description" [innerHTML]="performance.description"></div>
      </div>

      <div class="realizersBlock" *ngIf="implementers?.length">
        <h2 class="sectionTitle">_REALIZATORZY</h2>

        <div class="creditsList">
          <div class="creditRow" *ngFor="let i of implementersView">
            <div class="creatorsRole">
              {{ i.role }}:
            </div>

            <div class="creatorsNames">
              <ng-container *ngFor="let person of i.people; let last = last">
            <span class="creatorPerson">
              <span class="creatorName">
                {{ person.fullName }}
              </span>

              <div class="creatorPhotoPopup" *ngIf="person.photoSrc">
                <img
                  [src]="'data:image/jpeg;base64,' + person.photoSrc"
                  alt="Zdjęcie realizatora"
                />
              </div>
            </span>

                <span *ngIf="!last">, </span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- GALERIA -->
    <section class="gallerySection" *ngIf="galleryImages?.length">
      <h2 class="sectionTitle">_GALERIA</h2>

      <div class="gallery">
        <img
          *ngFor="let img of galleryImages"
          [src]="'data:image/jpeg;base64,' + img.photo"
          [alt]="performance.title"
        />
      </div>
    </section>

    <!-- OBSADA -->
    <section class="castSection">
      <h2 class="sectionTitle">_OBSADA</h2>

      <div class="castFilters">
        <ng-container *ngFor="let event of events.slice(0, 2)">
          <button type="button" [ngClass]="selectedDate === event.startAt ? 'selected' : ''"
                  (click)="changeSelectedDate(event.startAt)">{{ event.startAt | date: 'dd MMMM' }}
          </button>
        </ng-container>
      </div>
      <div class="castCategory" *ngFor="let group of groupedCast">
        <h3 class="castCategory__title">{{ ArtistCategoryLabels[group.category] }}</h3>

        <div class="castGrid">
          <article class="castCard" *ngFor="let c of group.artists">
            <div class="castCard__photo" *ngIf="c.photo">
              <img [src]="'data:image/jpeg;base64,' + c.photo" [alt]="c.firstName + ' ' + c.lastName"/>
            </div>

            <div class="castCard__info">
              <div class="castCard__role">{{ c.role }}</div>
              <div class="castCard__name">{{ c.firstName + ' ' + c.lastName }}</div>
            </div>
          </article>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center text-uppercase mt-5">
    <a class="performance__link" routerLink="/performances">Przejdź do repertuaru</a>
  </div>
</section>
