<mat-progress-bar class="mb-1" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<form [formGroup]="newNewsForm">
  <div class="ms-1 mb-1 d-flex align-items-center">
    <mat-form-field appearance="fill" style="width: 500px;">
      <mat-label>Tytuł aktualności</mat-label>
      <input matInput formControlName="title" placeholder="Wprowadź nazwę miejsca">
      <mat-error *ngIf="newNewsForm.get('title')?.hasError('required')">
        Tytuł jest wymagany
      </mat-error>
      <mat-error *ngIf="newNewsForm.get('title')?.hasError('minlength')">
        Długość musi być więcej niż 2
      </mat-error>
      <mat-error *ngIf="newNewsForm.get('title')?.hasError('maxlength')">
        Długość musi być mniej niż 101
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ms-1 mb-1 d-flex align-items-center">
    <mat-form-field appearance="fill" style="width: 500px;">
      <mat-label>Podtytuł aktualności</mat-label>
      <input matInput formControlName="subTitle" placeholder="Wprowadź nazwę miejsca">
      <mat-error *ngIf="newNewsForm.get('subTitle')?.hasError('required')">
        Podtytuł jest wymagany
      </mat-error>
      <mat-error *ngIf="newNewsForm.get('subTitle')?.hasError('minlength')">
        Długość musi być więcej niż 2
      </mat-error>
      <mat-error *ngIf="newNewsForm.get('subTitle')?.hasError('maxlength')">
        Długość musi być mniej niż 101
      </mat-error>
    </mat-form-field>
  </div>
  <div class=" ms-1 mb-1 d-flex align-items-center">
    <mat-form-field appearance="fill" style="width: 500px;">
      <mat-label>Główny obraz</mat-label>
      <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #mainImageInput>
      <input matInput [value]="selectedFileName || 'Nie wybrano pliku'" required readonly (click)="mainImageInput.click()">
      <button mat-icon-button matSuffix *ngIf="!selectedFileName" (click)="mainImageInput.click()">
        <mat-icon matSuffix>image</mat-icon>
      </button>
      <button mat-icon-button matSuffix *ngIf="selectedFileName" (click)="onDeleteImage()">
        <mat-icon matSuffix>delete</mat-icon>
      </button>
      <mat-error *ngIf="newNewsForm.get('mainImage')?.hasError('required')">
        Główny obraz jest wymagany
      </mat-error>
    </mat-form-field>
  </div>
  <div class="ms-1 mb-1 d-flex align-items-center">
    <app-rich-text-editor formControlName="content"></app-rich-text-editor>
  </div>
</form>
<div class="ms-1 mb-1 d-flex align-items-center">
  <div class="me-4">
    <button
      mat-flat-button
      color="primary"
      type="button"
      (click)="saveNews()"
      [disabled]="newNewsForm.invalid">
      Zapisz
    </button>
  </div>
  <div>
    <button mat-flat-button color="warn" type="button" (click)="router.navigate(['..'], { relativeTo: route })">
      Anuluj
    </button>
  </div>
</div>
