<mat-progress-bar *ngIf="editGenreForm.get('genreName')?.pending" mode="indeterminate"></mat-progress-bar>
<div *ngIf="!isLoading">
  <form [formGroup]="editGenreForm" (ngSubmit)="saveGenre()">
    <mat-form-field appearance="fill" style="width: 300px;">
      <mat-label>Nazwa gatunku</mat-label>
      <input matInput formControlName="genreName" placeholder="Wprowadź nazwę gatunku">
      <mat-error *ngIf="editGenreForm.get('genreName')?.hasError('required')">
        Nazwa gatunku jest wymagana
      </mat-error>
      <mat-error *ngIf="editGenreForm.get('genreName')?.hasError('minlength')">
        Długość musi być więcej niż 2
      </mat-error>
      <mat-error *ngIf="editGenreForm.get('genreName')?.hasError('maxlength')">
        Długość musi być mniej niż 51
      </mat-error>
      <mat-error *ngIf="editGenreForm.get('genreName')?.hasError('genreExists')">
        Gatunek już istnieje
      </mat-error>
    </mat-form-field>
  </form>
  <div class="row ms-1 mb-1 d-flex align-items-center">
    <div class="col-auto">
      <button
        mat-flat-button
        color="primary"
        type="submit"
        (click)="saveGenre()"
        [disabled]="editGenreForm.invalid || editGenreForm.get('genreName')?.pending">
        Zapisz
      </button>
    </div>
    <div class="col-auto">
      <button mat-flat-button color="warn" type="button" (click)="router.navigate(['../..'], { relativeTo: route })">
        Anuluj
      </button>
    </div>
  </div>
</div>
