<section class="artists-page">
  <div class="artists-page-heading">
    <h1>{{ selectedCategoryLabel }}</h1>
  </div>
  <div class="artists-page__inner">

    <aside class="artists-sidebar">

      <button
        class="artists-sidebar__item"
        *ngFor="let category of categories"
        [class.active]="selectedCategory === category.value"
        (click)="selectCategory(category.value)">
        _{{ category.label }}
      </button>
    </aside>

    <main class="about-content">
      <div class="artists-grid">
        <article
          class="artist-card"
          *ngFor="let artist of filteredArtists"
          [routerLink]="['/about/artists', artist.id]">

          <div class="artist-card__image-wrap">
            <img
              class="artist-card__image"
              [src]="getImage(artist.photo)"
              [alt]="artist.firstName + ' ' + artist.lastName">
          </div>

          <h3 class="artist-card__name">
            {{ artist.firstName }} {{ artist.lastName }}
          </h3>
        </article>
      </div>
    </main>

  </div>
</section>
