<mat-progress-bar class="mb-1" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<div class="artists-page">
  <mat-form-field appearance="outline" class="artist-filter-select">
    <mat-label>Wybierz rolę</mat-label>
    <mat-select [(value)]="selectedCategory" [disabled]="isLoading" (selectionChange)="selectCategory($event.value)">
      <mat-option *ngFor="let c of categories" [value]="c.value">
        {{ c.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="artists-grid">
    <div class="artist-card" *ngFor="let artist of filteredArtists">

      <div class="photo-container">
        <img [src]="getImage(artist.photo)" [alt]="artist.firstName + ' ' + artist.lastName">
      </div>

      <div class="info">
        <a routerLink="{{artist.id}}">
          <div class="name">{{ artist.firstName }} {{ artist.lastName }}</div>
        </a>
        <div class="category-badge" [ngClass]="getCategoryClass(artist.category)">{{ ArtistCategoryLabels[artist.category] }}</div>
      </div>
    </div>
  </div>

</div>
