<mat-progress-bar class="mb-1" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<section class="about-page">
  <main class="about-content">
    <div *ngIf="!isLoading" class="about-details-layout">

      <aside class="about-sidebar" *ngIf="sidebarItems.length">
        <button
          type="button"
          class="about-sidebar__item"
          *ngFor="let item of sidebarItems"
          [class.about-sidebar__item--active]="item.index === activeSidebarIndex"
          (click)="scrollToSidebarItem(item.index)"
          [textContent]="item.label"
        >
        </button>
      </aside>

      <div class="about-details">
        <h1>{{ section.title }}</h1>

        <div
          #contentRef
          class="about-inner-content"
          [innerHTML]="safeContent">
        </div>
      </div>

    </div>
  </main>
</section>
