<section class="about-page">
  <div class="about-page__inner">

    <aside class="about-sidebar">
      <div class="about-sidebar__label"><a routerLink="..">wróc</a></div>

      <button
        class="artists-sidebar__item"
        *ngFor="let section of aboutSections"
        [class.active]="selectedSection === section?.title"
        (click)="selectSection(section)">
        _{{ section.title }}
      </button>
    </aside>

    <main class="about-content">
      <div *ngIf="!isLoading && mainSectionDetails !== null" class="about-details">

        <h1>{{ mainSectionDetails.title }}</h1>

        <div [innerHTML]="mainSectionDetails.contentHtml"></div>
      </div>
    </main>

  </div>
</section>
