<section class="artists">
  <div class="artists__head">
    <div class="artists__title">_ARTYŚCI</div>

    <a class="artists__all" routerLink="/about/artists">
      WSZYSCY ARTYŚCI
    </a>
  </div>

  <div class="artists__wrap">
    <div class="viewport">
      <div
        #viewport
        class="track"
        (pointerdown)="onPointerDown($event)"
        (pointermove)="onPointerMove($event)"
        (pointerup)="onPointerUp($event)"
        (pointercancel)="onPointerUp($event)"
        (pointerleave)="onPointerUp($event)"
      >
        <a
          class="card"
          *ngFor="let a of artists"
          [routerLink]="['/about','artists', a.id]"
          [attr.aria-label]="a.name"
        >
          <div class="card__photo" draggable="false" [style.backgroundImage]="'url(' + a.photoUrl + ')'"></div>
        </a>
      </div>

      <!-- лёгкие затемнения по краям как в рефе -->
      <div class="fade fade--left"></div>
      <div class="fade fade--right"></div>
    </div>
    <div class="navBlock">
      <div class="nav">
        <button class="nav__btn nav__btn--prev" type="button" (click)="scroll('prev')" aria-label="Poprzednie"></button>
        <button class="nav__btn nav__btn--next" type="button" (click)="scroll('next')" aria-label="Następne"></button>
      </div>
    </div>
  </div>
</section>
