<div class="d-flex justify-content-center">
  <div class="bg-secondary mt-2">
    <div class="text-white px-lg-5 pt-1">
      <h1>Zaloguj się jako administrator</h1>
      <div class="d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input matInput placeholder="Login" [(ngModel)]="login">
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-center">
        <mat-form-field>
          <mat-label>Hasło</mat-label>
          <input matInput type="password" placeholder="Hasło" [(ngModel)]="password">
        </mat-form-field>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center pb-2">
      <div style="position: relative;">
        <button mat-flat-button color="primary" [disabled]="isLoading" (click)="onLogin()">Zaloguj się</button>
        <mat-spinner *ngIf="isLoading" diameter="20"
                     style="position: absolute; right: -25px; top: 50%; transform: translateY(-50%);"></mat-spinner>
      </div>
    </div>
  </div>
</div>
