<mat-progress-bar class="mb-1" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>

<section class="news-details page">
  <ng-container *ngIf="!!news">
    <div class="news-details__inner">

      <div class="news-details__return">
        <a routerLink="..">&lt; Powrót do aktualności</a>
      </div>

      <header class="news-details__header">
        <h1 class="news-details__title">
          {{ news.title }}
        </h1>

        <h4 class="news-details__subtitle">
          {{ news.subtitle }}
        </h4>

        <p class="news-category">
          {{ getNewsCategoryLabel(news.category) }}
        </p>
      </header>

      <div class="news-details__content" [innerHTML]="safeContent"></div>

    </div>
  </ng-container>

</section>
