/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@font-face {
  font-family: "Neutral Face";
  src: url("assets/fonts/NeutralFace/NeutralFace.woff2") format("woff2"),
  url("assets/fonts/NeutralFace/NeutralFace.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neutral Face Bold";
  src: url("assets/fonts/NeutralFace/NeutralFaceBold.woff2") format("woff2"),
  url("assets/fonts/NeutralFace/NeutralFaceBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-primary: 'Montserrat', sans-serif;
  --font-heading: 'Neutral Face', sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #000;
  font-family: var(--font-primary) !important;
}

/* 1. Core */
@include mat.core();

/* ===== PUBLIC THEME ===== */
$public-primary: mat.define-palette(mat.$purple-palette);
$public-accent: mat.define-palette(mat.$green-palette);

$public-theme: mat.define-light-theme((
  color: (
    primary: $public-primary,
    accent: $public-accent,
  )
));

/* ===== ADMIN THEME ===== */
$admin-primary: mat.define-palette(mat.$indigo-palette);
$admin-accent: mat.define-palette(mat.$pink-palette);

$admin-theme: mat.define-light-theme((
  color: (
    primary: $admin-primary,
    accent: $admin-accent,
  )
));

/* 2. Typography + density — ОДИН раз */
@include mat.all-component-typographies($public-theme);
@include mat.all-component-densities($public-theme);

/* 3. Colors — по классам */
.public-theme {
  @include mat.all-component-colors($public-theme);
}

.admin-theme {
  @include mat.all-component-colors($admin-theme);
}

.category-badge {
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 12px;
  display: inline-block;
  color: white;
}

.cat-role {
  background: #3f51b5; // indigo
}

/* Smyczki */
.cat-smyczki {
  background: #673ab7; // deep purple
}

/* Drewniane */
.cat-drewniane {
  background: #0097a7; // cyan-dark
}

/* Blaszane */
.cat-blaszane {
  background: #ff9800; // orange
}

/* Inne */
.cat-inne {
  background: #4caf50; // green
}

/* Zespoły */
.cat-zespoly {
  background: #e91e63; // pink
}

/* Default */
.cat-default {
  background: #9e9e9e; // gray
}
