<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div style="width: 300px;">
  <mat-calendar
    [dateClass]="dateClass"
    [(selected)]="selectedDate"
    [minDate]="minDate"
    [maxDate]="maxDate"
    (selectedChange)="onDateChange($event)"
    (monthSelected)="onDateChange($event)"
    class="disable-arrows"
  >
  </mat-calendar>
</div>

<p>Wybrana data: {{ selectedDate | date: 'dd/MM/yyyy' }}</p>

<ul>
  <li *ngFor="let event of paginatedEvents">
    {{ event.title }} &mdash; {{ event.date | date:'HH:mm':'UTC' }}, {{ getGenreName(event.genre) }}
  </li>
</ul>

<mat-paginator [length]="eventsByDate.length" [pageSize]="pageSize" [pageIndex]="0" [pageSizeOptions]="[1, 5, 10]">
</mat-paginator>

